html {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}
.wrapper {
    /*margin: 0px auto;*/
    /*text-align: center;*/
    background: #FFF;
    /*border: 1px solid #ddd;*/
    padding: 25px;
    width: 800px;
}

.action-bar {
    margin-bottom: 10px;
}

.status-bar {
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border: 1px dashed black;
}

.board {
    box-shadow(0 3 px 7 px rgba(0, 0, 0, 1));
    /*border: 1px solid #999;*/
    margin: 0px auto;
}

.row {
    display: table-row;
}

.col {
    width: 60px;
    height: 60px;
    display: table-cell;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    cursor: pointer;
}

.col .symbol {
    font-size: 40px;
    line-height: 60px;
    color: #999;
}

.col .symbol.won {
    color: green;
}

.col:last-child {
    border-top: 0;
    border-right: 0;
}

.row:last-child > .col {
    border-bottom: 0;
}

